.App {
  text-align: center;
}

.label{
  color: blue;
}

.image{
  height: 70vh;
  width: 40vw;
}
.glass{
  background: rgba( 255, 255, 255, 0.3 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 5px );
-webkit-backdrop-filter: blur( 5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.nav{
  background-color: black;
}
.logo{
  height: 60px;
  width: 60px;
  background-color: blue;
  /* z-index: -1;
  margin-top: 10vh; */
}


/* :root{
  background-image: linear-gradient(to bottom, #303439, #465459, #5f7775, #83998c, #b3bba1);
  background-image: cover;
  background-position: center center;

} */